@import url(styles.css);

#hero {
    margin-top: 2.375rem;
}

#hero p {
    margin-top: 26px;
}

#hero button {
    width: 10.4375rem;
    margin-top: 1.5rem;
}

.container-hero-pic {
    display: flex;
    justify-content: center;
}

#hero img {
    width: 20.4375rem;
    margin-top: 2.875rem;
}